[defaults]
inventory = /home/timph/Projects/SN/proxmox-support-plane/ansible/inventory/hosts.ini
host_key_checking = False
vault_password_file = /home/timph/Projects/SN/proxmox-support-plane/ansible/.vault_pass
deprecation_warnings = False
interpreter_python = auto_silent
private_key_file = ~/.ssh/id_ed25519_proxmox_sn

[ssh_connection]
pipelining = True